* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.top__heading {
    font-size: 64px;
    color: #1f3f68;
    width: 510px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.top__heading {
    font-size: 64px;
    color: #1F3F68;
}

.top__text{
    color: #1F3F68;
    opacity: 0.6;
    width: 425px;

}

.heading-contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.card__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;

}

.what-we-do {
    padding-top: 64px;
}

.heading_mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    margin-bottom: 14px;
}

.input-text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}   

.button_submit {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 15px 50px 15px 50px;
    display: inline-block;
    margin-top: 71px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    flex-grow: 1;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 42px;
}

.top__heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

    

.top__info {
    flex-grow: 1;
    padding-top: 115px;
    background-image: url(../img/illustration.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
    
}



.card_box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
    
}

.card {
    width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 44px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    
}

.card_img {
    align-self: center;
    margin-bottom: 51px;
}

.footer__heading{
    width: 340px;
}

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.footer__top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    max-width: 495px;
}

.footer__heading {
    max-width: 340px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.footer_text_mini {
    color: #FFFFFF;
}

.footer_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5a98d0;
    text-decoration: none;
}

hr {
    opacity: 0.4;
}


.footer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer__list{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;

}

.footer__list:first-child::before {
    content: 'A.';
    display: block;
    margin-right: 16px;
}

.footer__list:nth-child(2)::before{
    content: 'T.';
    display: block;
    margin-right: 16px;
}
.footer__list:nth-child(3)::before{
    content: 'E.';
    display: block;
    margin-right: 16px;
}

.footer__copy {
    margin-top: 64px;
}

.footer__copy_text {
    color: #FFFFFF;
    opacity: 0.4;
}

.main {
    display: flex;
    justify-content: space-between;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #000000;
    opacity: 1;
    text-align: center;
}

.project_item {
    position: relative;
}
.project_pic {
    width: 97%;
}
.project_text {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
    
}

.project__parent {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.text_down {
    right: auto;
    left: 32px;
    top: 32px;
    text-align: left    ;
}

.project_info {
    margin-bottom: 64px;
}






.contacts_top {
    background: none;
    min-height: 0%;
    margin-bottom: 54px;
}

.contacts_header {
    background-image: url(../img/contactUs.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    display: flex;
}

.heading-contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 50px;

}

.contacts_us_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    max-width: 780px;

}


.form {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}


@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
    }


    .top__info{
        background-position: right 250px;
    }

    .card_box {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .footer {
        padding-top: 48px;
    }

    .footer_button {
        padding: 4px 31px;
    }

    .footer__top {
        justify-content: space-around;  
    }

    .footer__info {
        flex-direction: column;
    }

    .footer__list {
        margin-bottom: 24px;
    }

    .footer__copy {
        margin-top: 48px;
    }



}



@media (max-width: 667px) {


    .header {
        padding-top: 24px;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }
    
    
    .top__heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }
    
    .top__text {
        width: 100%;
        text-align: center;

    }

    .button_submit {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .card_box {
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }

    .text_project {
        width: 100%;
    }

    .project_text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .text_down {
        left: 16px;  
    }

    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project_item {
        margin-bottom: 16px;
    }

    .footer__heading {
        text-align: center;
        width: 75%;
        margin: 0 auto 32px;
    }

    .footer {
        padding-top: 16px;
        padding-bottom: 32px;
        margin-top: 64px;
    }

    .footer__top {
        flex-direction: column;
        padding-bottom: 40px;

    }

    .footer__text {
        width: 100%;
    }

    .footer_text_mini {
        text-align: center;
        margin-bottom: 40px;
    }

    .footer__info {
        flex-direction: column;
        align-items: left ;
        margin-top: 32px;
    }

    .footer__list {
        margin-bottom: 18px;
    }
}